<div class="nav-item px-3">
	<NavLink class="nav-link" href="@Href" Match="@Match">
		@if (!string.IsNullOrEmpty(Icon))
		{
			<i class="@Icon"/>
		}
		<span class="link-primary" aria-hidden="true">@Label</span>
	</NavLink>
</div>