@using Didact.Components.Data
@if (Didact == null)
{
	<p>Please upload or start a new file.</p>
}
else
{
	<div class="dropdown-wrapper">
		<!-- a button to toggle show/hide of dropdown -->
		<button id="my-dropdown-toggle" class="button dropdown-toggle arrow-button size-lg"
		        aria-expanded="false">
			@Didact.Author.PenName
		</button>
		<ul class="dropdown menu-items-wrapper" aria-labelledby="my-dropdown-toggle">
			<li class="menu-item heading"><a href="/Author">Profile</a></li>
			<li class="menu-item"><a href="/Author/Details">Details</a></li>
			<li class="menu-item"><a href="/Author/Settings">Settings</a></li>
			<li role="separator" class="menu-item separator"/>
			<li class="menu-item">
				<DownloadSaveFile />
			</li>
			<li class="menu-item">
				<RemoveSaveFile />
			</li>
		</ul>
	</div>
}