@inherits DataManager

<button class="button link-button style-red-light" type="button" @onclick="@RemoveSaveFileAsync" disabled="@_isModifyingData">
	Remove Save File
	<i class="fa-solid fa-trash" />
</button>