@inherits DataManager

<label class="form-label" for="SingleUpload" disabled="@IsModifyingData">
	Upload Save File:
<InputFile id="SingleUpload" name="SingleUpload" OnChange="@SingleUpload" disabled="@IsModifyingData"
		   class="link-button fa-upload">
</InputFile>
</label>

