<div class="page">

	<main style="height: 100vh;">

		@AppBar

		<div class="height-100p d-flex">
			<ul class="menu-items-wrapper height-100p width-100p" style="max-width: 300px; overflow-y: auto; overflow-x: hidden;">
				@SideBar
			</ul>
			<article class="width-100p height-auto">
				@MainContent
			</article>
		</div>
	</main>
</div>

@code {

	[Parameter] public RenderFragment AppBar { get; set; }
	[Parameter] public RenderFragment SideBar { get; set; }
	[Parameter] public RenderFragment MainContent { get; set; }

}