<nav class="menu-items-wrapper navbar style-dark">
	<ul class="links">
		@NavigationLinks
	</ul>
	@SearchBar
</nav>

@code {

	[Parameter] public RenderFragment NavigationLinks { get; set; }
	[Parameter] public RenderFragment SearchBar { get; set; }

}