@page "/"
@using Blazored.LocalStorage
@using Didact.Components.Forms
@using Didact.Components

<PageTitle>Home</PageTitle>


<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

	<NewAuthorForm />

</div>
<br/>

<DownloadSaveFile />

<UploadSaveFile />

@code
{



}
